<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>890937688011-ci9fgno6rk3ie1kq8btaba7u2ktoieel.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.890937688011-ci9fgno6rk3ie1kq8btaba7u2ktoieel</string>
	<key>API_KEY</key>
	<string>AIzaSyB8nkrBvm12YWqCZhrRTZfAnfQhK2oy7oI</string>
	<key>GCM_SENDER_ID</key>
	<string>890937688011</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.subscriptionApp</string>
	<key>PROJECT_ID</key>
	<string>intern-subscription</string>
	<key>STORAGE_BUCKET</key>
	<string>intern-subscription.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:890937688011:ios:b6ebcdad8342ac3add804e</string>
</dict>
</plist>